@model string
<div class='flag flag-yellow'>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class='flag-bit'></div>
    <div class="tr-datetime">
        @Model
    </div>
</div>
