<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <div class="navbar-header pull-left">
                <a href="" class="navbar-brand">
                   
                </a>
            </div>
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon ion-android-menu"></i>
            </div>
            <div class="appname hidden-sm hidden-xs">

                <a href="" title=""></a>
            </div>
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                </div>
            </div>
        </div>
    </div>
</div>